html {
    box-sizing: border-box;
    font-size: 100%;

}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 2rem;
    text-align: center;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem 1rem 2rem 1rem;
    max-width: fit-content;
    min-width: fit-content;
}


.card img {
    border-radius: 2rem;
    max-width: 18rem;
    max-height: 18rem;
}

.card__text {
    text-align: center;
    max-width: 15.18rem;
    padding: inherit;
    }
}

.card h1 {
    font-size: 2rem;
}
.card p {
    font-size: 1rem;
}

footer {
    text-align: center;
}


@media (min-width: 75rem) {

    .card {
        background-color: white;
        margin-top: 9.37rem;
        margin-left: 32rem;
        margin-right: 32rem;
        padding: 1rem;
    }

    .card img {
        position: relative;
        width: 100%;
        height: auto;

    }

    .card__text {
        text-align: center;
        max-width: 15.18rem;
        padding: inherit;
    }

}




